In [6]:
from openpyxl import Workbook, load_workbook
import pandas as pd
wb = load_workbook("validation.xlsx")
ws = wb.active
import numpy as np
import glob
files = glob.glob("*.xls*")
# print(files)
# ws.write_column('A1', files)

In [7]:
main = pd.DataFrame()

In [8]:
for r in range(2, 10):
    cntrl_id = ws.cell(r, 1).value
    df = pd.read_excel(cntrl_id)
    ssn = ws.cell(r, 2).value
    df = df[df.eq(ssn).any(1)]
    if df.empty:
        print(False) # for a result List
    else:
        print(True)
    main = main.append(df,ignore_index=True) # for DataFrame
    r = r+1;
main

True
True
True
True
True
True
True
True

      control_id  Employee Id        Full Name        SSN
0  Alr_00001.xls        15489  Ranjeet Aloriya  226831878
1  Alr_00002.xls        24095    Ashwani Kumar  463803134
2  Alr_00002.xls        24186   Ravinder Kumar  209152380
3  Alr_00002.xls        24277       Aman Digra  205685021
4  Alr_00002.xls        24368    Sachin Bhagat  866455766
5  Alr_00002.xls        24459       Alok Kumar  273874956
6  Alr_00002.xls        24550       Ajay Kumar  461170879
7  Alr_00002.xls        29875     Shubam Padha  531346743

In [ ]:
cntrl_id

In [ ]:
pd.read_excel(r"C:\Users\HP\OneDrive\Documents\Python Scripts"+cntrl_id)

In [ ]:
from openpyxl import Workbook, load_workbook
import pandas as pd
wb = load_workbook(r"C:\Users\HP\OneDrive\Documents\Python Scripts\loops.xlsx")
ws = wb.active
main = pd.DataFrame()
for r in range(2, 5):
    cntrl_id = ws.cell(r, 1).value
    df = pd.read_excel(r"C:\Users\HP\OneDrive\Documents\Python Scripts/"+cntrl_id)
    ssn = ws.cell(r, 2).value
    df = df[df.eq(ssn).any(1)]
    if df.empty:
        print(False) # for a result List
    else:
        print(True)
#     main = main.append(df,ignore_index=True) # for DataFrame
    r = r+1;
# main

In [3]:
workbook   = xlsxwriter.Workbook('filename.xlsx')

worksheet = workbook.add_worksheet()

worksheet.write('A1', 123)

workbook.close()

NameError: name 'xlsxwriter' is not defined

In [2]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\hp\anaconda3\lib\site-packages (3.0.1)
Note: you may need to restart the kernel to use updated packages.