In [4]:
import pandas as pd
import numpy as np
import glob
files = glob.glob("*.xls")
print(files)
len(files)
main = pd.DataFrame()
def all_files(i):
    df1 = pd.read_excel(files[i])
    df1['control_id']=files[i]
    df2 = df1.set_index('control_id')
    df2
    df2.to_excel(files[i])
for i in range(len(files)):
    all_files(i)
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
    main = main.append(df,ignore_index=True)
finale = main.set_index('control_id')
finale.to_excel('main.xlsx')

['Alr_00001.xls', 'Alr_00002.xls', 'Alr_00003.xls']

C:\Users\HP\AppData\Local\Temp/ipykernel_25416/4122629886.py:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df2.to_excel(files[i])

In [ ]:
df = pd.read_excel("Alr_00001.xlsx")

In [ ]:
s = df[df.eq(226831878).any(1)]
s

In [ ]:
def all_files(i):
    df1 = pd.read_excel(files[i])
    df1['control_id']=files[i]
    df2 = df1.set_index('control_id')
    df2
    df2.to_excel(files[i])
for i in range(len(files)):
    all_files(i)
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
    main = main.append(df,ignore_index=True)
finale = main.set_index('control_id')
finale.to_excel('main.xlsx')

In [ ]:
for i in range(len(files)):
    all_files(i)

In [ ]:
all_files(i)

In [ ]:
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
for i in range(0, len(files)):
    i=i
    print(i)
for f in range(1, len(df.index)):
    df['Control_id']=f
    f = files[i];
    i = i+1;
#     print(f)
#     df['Control_id']=f
#             main = main.append(df,ignore_index=True)

In [ ]:
i

In [ ]:
df1 = pd.read_excel(files[0])
df1['Control_id']=files[0]

In [ ]:
df2 = df1.set_index('Control_id')

In [ ]:
df2

In [ ]:
df2.to_excel('okkk.xlsx')

In [2]:
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
    main = main.append(df,ignore_index=True)
print(main)

            control_id  Employee Id           Full Name        SSN DOB  \
0       Alr_00002.xlsx      15489.0     Ranjeet Aloriya  226831878 NaT
1       Alr_00002.xlsx      23458.0         Sorbh Kumar  215636807 NaT
2       Alr_00002.xlsx      23549.0  Vikram Singh Bagri  687898128 NaT
3       Alr_00002.xlsx      23640.0     Dalwinder Singh  250299584 NaT
4       Alr_00002.xlsx      23731.0        Sahil Sharma  442642005 NaT
...                ...          ...                 ...        ...  ..
19976  validation.xlsx          NaN                 NaN  408056600 NaT
19977  validation.xlsx          NaN                 NaN  215636807 NaT
19978  validation.xlsx          NaN                 NaN  226831878 NaT
19979  validation.xlsx          NaN                 NaN  408056600 NaT
19980  validation.xlsx          NaN                 NaN  215636807 NaT

           Control_ID
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
19976  Alr_00002.xlsx
19977  Alr_00003.xlsx
19978   Alr_00001.xls
19979  Alr_00002.xlsx
19980  Alr_00003.xlsx

[19981 rows x 6 columns]

In [ ]:
i

In [ ]:
df

In [ ]:
# count = 0
# while count < len(files):
#     print(count)
#     count = count+1
#     print(count)
    # for item in files:
#     print(item)
# for i in range(0, len(files)):
while i < 1:
    print(i)
#     print(i)
#     i = i+1;
#     files[i]   
# df['Control_Id'] = files[i]
# df

In [ ]:
i

In [ ]:
main = pd.DataFrame()

In [2]:
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
    main = main.append(df,ignore_index=True)
for i in range(-1, len(files)-1):
        i = ++1
#         print(i)
        for f in range(1, len(df.index)):
            f = files[i]
main['Control_id']=f
print(main)

          control_id  Employee Id             Full Name        SSN        DOB  \
0     Alr_00002.xlsx      15489.0       Ranjeet Aloriya  226831878        NaT
1     Alr_00002.xlsx      23458.0           Sorbh Kumar  215636807        NaT
2     Alr_00002.xlsx      23549.0    Vikram Singh Bagri  687898128        NaT
3     Alr_00002.xlsx      23640.0       Dalwinder Singh  250299584        NaT
4     Alr_00002.xlsx      23731.0          Sahil Sharma  442642005        NaT
...              ...          ...                   ...        ...        ...
3069  Alr_00003.xlsx      33545.0      Ashish Choudhary  708979693 1997-07-07
3070  Alr_00003.xlsx      33555.0  Raju Kumar Choudhary  258271175 1997-07-08
3071             NaN          NaN                   NaN  226831878        NaT
3072             NaN          NaN                   NaN  408056600        NaT
3073             NaN          NaN                   NaN  215636807        NaT

          Control_ID      Control_id
0                NaN  Alr_00003.xlsx
1                NaN  Alr_00003.xlsx
2                NaN  Alr_00003.xlsx
3                NaN  Alr_00003.xlsx
4                NaN  Alr_00003.xlsx
...              ...             ...
3069             NaN  Alr_00003.xlsx
3070             NaN  Alr_00003.xlsx
3071   Alr_00001.xls  Alr_00003.xlsx
3072  Alr_00002.xlsx  Alr_00003.xlsx
3073  Alr_00003.xlsx  Alr_00003.xlsx

[3074 rows x 7 columns]

In [ ]:
# df.insert(0, 'Control_ID', f)
for i in range(1, len(files)-1):
        i = i+1
#         print(i)
        for f in range(1, len(df.index)):
            f = files[i]
            print(f)
# df.insert(0, 'Control_ID', f)

In [ ]:
main['Control_ID'] = f

In [ ]:
main

In [ ]:
main.to_excel('main.xlsx')

In [ ]:
for i in range(1,10):
    print(i)
    i=i+1

In [ ]:
df=pd.read_excel("Alr_00001.xlsx").drop(columns='Unnamed: 0')

In [ ]:
df.to_excel('Alr_00001.xlsx')

In [ ]:
df.rangeindex=False

In [ ]:
df

In [ ]:
main = pd.DataFrame()

In [ ]:
df1 = pd.read_excel("Alr_00001.xlsx")
df2 = pd.read_excel("Alr_00002.xlsx")
df3 = pd.read_excel("Alr_00003.xlsx")

In [ ]:
df1.rename(columns = {'Id':'Employee Id','Name':'Full Name', 'SSN':'SSN'}, inplace =True)
df2.rename(columns = {'Employee Id':'Employee Id','Names':'Full Name', 'SS#':'SSN'}, inplace =True)
df3.rename(columns = {'Employee#':'Employee Id','Name':'Full Name', 'Fedral Id':'SSN'}, inplace =True)

In [ ]:
df1.to_excel("Alr_00001.xlsx")
df1.to_excel("Alr_00002.xlsx")
df1.to_excel("Alr_00003.xlsx")

In [ ]:
df1['Conyrol_ID'] = 'Alr00001_xlsx'
df2['Conyrol_ID'] = 'Alr00002_xlsx'
df3['Conyrol_ID'] = 'Alr00003_xlsx'

In [ ]:
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=False,sort=False)
    main = main.append(df,ignore_index=False)
print(main)

In [ ]:
main.to_excel("main.xlsx")

In [ ]:
def read_File():
    file = "Alr_00001.xlsx"
    sheets = pd.read_excel(file, sheet_name=None)
    with ExcelWriter(file) as writer:
        for name, sheet in sheets.items():
            sheet.rename(columns={'Id':'Employee Id','Name':'Full Name', 'SSN':'SSN'}, inplace=True)
            sheet.to_excel(excel_writer=writer, sheet_name=name, index=False)
        writer.save()
print(read_File)

In [ ]:
pd.read_excel("Alr_00001.xlsx").rename(columns = {'Id':'Employee Id','Name':'Full Name', 'SSN':'SSN'}, inplace =True)

In [ ]:
df = pd.read_excel("Alr_00001.xlsx").drop(columns={'Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'})

In [ ]:
df= pd.read_excel("Alr_00001.xlsx")

In [ ]:
df['Control_ID'] = files[1]
df.to_excel("Alr_00001.xlsx")
df

In [ ]:
df. append({"Control ID": files[0]}, ignore_index=True)

In [ ]:
df.to_excel("main.xlsx")

In [ ]:
pd.read_excel("Alr_00001.xlsx").rename(columns=dict,
          inplace=True)
pd.read_excel(file)pd.to_excel("Alr_00001.xlsx")

In [ ]:
pd.read_excel("Alr_00001.xlsx").rename

In [ ]:
pd.read_excel("Alr_00001.xlsx").rename({'Id':'Employee Id','Name':'Full Name'}, axis = 1, inplace = True)

In [ ]:
df.rename({'Employee Id':'Emp','Name':'Full Name','SSN':'SS#'}, axis = 1, inplace = True)

In [ ]:
df = pd.read_excel("Alr_00001.xlsx")

In [ ]:
df

In [ ]:
for file in files:
    df = pd.concat(pd.read_excel(file, sheet_name=None),ignore_index=True,sort=False)
    main = main.append(df,ignore_index=True)
print(main)

In [ ]:
finaleexcelsheet.to_excel("main.xlsx")

In [ ]:
pd.read_excel("main.xlsx")

In [ ]:
df = pd.read_excel('loops.xlsx')

In [ ]:
df

In [ ]:
main = pd.DataFrame()

In [ ]:
from openpyxl import Workbook, load_workbook
wb = load_workbook("loops.xlsx")
ws = wb.active
for r in range(3, 4):
    cntrl_id = ws.cell(r, 1).value
    df = pd.read_excel(cntrl_id)
    ssn = int(ws.cell(r, 2).value)
    df = df[df.eq(ssn).any(1)]
    if df.empty:
        print(False)
    else:
        print(True)
#     r = r+1;
#     main = main.append(df,ignore_index=True)
    r = r+1;
# main

In [ ]:
ssn

In [ ]:
pd.read_excel(i.value)

In [ ]:
import openpyxl
# load excel with its path
wrkbk = load_workbook("loops.xlsx")
sh = wrkbk.active
# to iterate through cells in Column A and print value in console
for c in sh['A']:
   print(c.value)

In [ ]:
for file in files:
    df = df[df.eq(226831878).any(1)]
    df

In [ ]:
files[0]

In [ ]:
files

In [ ]:
df = pd.read_excel('Alr_00002.xlsx', sheet_name = None)

In [ ]:
if "205685021.0" == df:
    print('yes')